
@{
    ViewBag.Title = "ViewUsers Admin-Panel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Music_Store.Models
@if(Session["admin"]!=null)
{

    <div class="container" id="sheet" style="width:80%;margin-top:2%;">
    <h2 style="margin-left:40%;margin-top:5%;margin-bottom:5%;">All Users Detail</h2>
        <table class="table table-bordered table-hover" style="margin-left:6%;margin-top:3%;width:90%;">
            <thead style="font-weight:700">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Contact</th>
                    <th>Country</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.email</td>
                            <td>@u.password</td>
                            <td>@u.contact</td>
                            <td>@u.country</td>
                            <td>@u.question</td>
                            <td>@u.answer</td>
                            <td><a class="btn btn-danger" href="/Admin/Delete/@u.Id">Delete </a><a class="btn btn-success" href="/Admin/Update/@u.Id">Update</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
</div>
    
}

